.abhi{
width:500px;
height:500px;
padding:25px;
}

.one {
	width:500px;
height:50px;
background-color:red;
}


.two {
	width:150px;
height:400px;
background-color:green;
float:left;
}


.three {
	width:350px;
height:400px;
background-color:blue;
float:right;
}

.four {
	width:500px;
height:50px;
background-color:black;
float:right;

}

h1{
	color:white;
}
