.abhi{
width:608px;
border:1px solid black;
background-color:#f5ccff;
height:200px;
}
.abc{
	width:150px;
	height:150px;
	margin: 25px;
	float:left;
	outline: red dotted thick;
	outline-style:dotted;
}
.def{
	width:150px;
	height:150px;
	margin: 25px;
	float:left;
	outline-style:dotted;
	outline: red dotted thick;
}

.ghi{
	width:150px;
	height:150px;
	margin: 25px;
	float:left;
	outline-style:dotted;
	outline: red dotted thick;
}
